html {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  background-color: #f2f2f7;
}

button {
  outline-style: none;
}

button:focus {
  outline: 0;
}

.period-red-text {
  color: #ef3b3c;
}

.period-white-text {
  color: #f2f2f7;
}

.period-white-bg {
  background-color: #f2f2f7;
}

.period-black-text {
  color: RGB(28, 28, 30);
}

