/* all custom css styles will be found here */
/* all other styling will be done with Tailwind library in-line css */

/* TAILWIND CODE FORMAT
  - Tailwind styling will be found in every ____.component.html file
  - Tailwind styling should be of the form:
    - class = " CUSTOM-CSS-CLASS WIDTH HEIGHT MARGIN PADDING FLEX FLEX-OPTIONS... OTHER-STYLING-OPTIONS..."
    - example... class = "my-custom-class w-full h-64 mt-6 mr-4 px-12 flex flex-row justify-center text-xl bg-blue-500"
*/

html {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

.period-group-background-image {
  background-image: url("/assets/Group\ 21.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.period-standard-background-image {
  background-image: url("/assets/background.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.period-red {
  color: #ef3b3c;
}

.period-white {
  color: #f2f2f7;
}

.period-learn-more-list li {
  margin: 18px;
}
