html {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

button {
  outline-style: none;
}

button:focus {
  outline: 0;
}

.period-red {
  color: #ef3b3c;
}

.period-white {
  color: #f2f2f7;
}

.period-black {
  color: RGB(28, 28, 30);
}

