<nav
  class="h-full w-screen flex flex-row items-end justify-between bg-gray-100 shadow-xl"
  style="background-color: white;"
>
  <div class="mx-6 mb-4 h-24 w-3/12 flex flex-row">
    <div class="relative w-5/12 ">
      <a routerLink="/">
        <img class="absolute h-full " src="../../../assets/period_logo.png"
      /></a>
    </div>
    <div class="w-7/12 flex flex-row items-center">
      <a href="https://www.instagram.com/ruperiod/?hl=en" target="_blank"
        ><img class="w-16 h-16 mr-6" src="../../../assets/instagram_logo.png"
      /></a>
      <a><img class="w-16 h-16 mr-6" src="../../../assets/email_logo.png"/></a>
    </div>
  </div>
  <div
    class="mx-6 mb-4 h-16 w-auto flex justify-around 
    text-black uppercase font-bold tracking-wider
    "
    style="font-size: 35px;"
  >
    <a href="#about" class="mx-4" routerLink="/about">About</a>
    <a class="mx-4" routerLink="/learn-more">Learn More</a>
    <a class="mx-4" routerLink="/events">Events</a>
  </div>
</nav>
