


























































/* .instagramButton:hover {
  transform: scale(1.1);
  transition: all 1s;
}

.emailButton img {
  z-index: 999;
}

.emailButton {
  background: transparent;
  width: auto;
  border-radius: 50px;
}

.emailButton:hover {
  background: #ef3b3c;
  margin-right: 16px;
}

.emailButton span {
  margin-right: 0px;
  display: inline-block;
  position: relative;
  visibility: none;
  color: #f2f2f7;
  left: -40px;
  width: 0;
  opacity: 0;
  text-align: center;
  transition: all 1s;
}

.emailButton:hover span {
  right: 0;
  visibility: visible;
  margin-right: 10px;
  opacity: 1;
  width: 350px;
}

/* .mini-main {
  height: 30px;
  transition-duration: .5s;
}

.mini-main p {
  font-size: 14px;
}


.mini-nav img {
  visibility: hidden;
  width: 0px;
} */ 
