#mobile-menu {
  transition: all 1s;
  transition-duration: height 1s ease;
}

#landing {
  background-image: url("/assets/Group\ 21.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}

.socialButton img {
  z-index: 999;
}

.socialButton {
  background: transparent;
  width: auto;
  border-radius: 50px;
}

.socialButton:hover {
  background: #ef3b3c;
  margin-right: 16px;
}

.socialButton span {
  margin-right: 0px;
  display: inline-block;
  position: relative;
  visibility: none;
  color: #f2f2f7;
  left: -40px;
  width: 0;
  opacity: 0;
  text-align: center;
  transition: all 1s;
}

.socialButton:hover span {
  right: 0;
  visibility: visible;
  margin-right: 10px;
  opacity: 1;
  width: 350px;
}

@media (max-width: 900px) {
  #period-calendar {
    visibility: hidden;
    height: 0px;
  }

  #calendar-notice {
    display: block;
  }
}

@media (max-width: 1090px) {

}























































/* .instagramButton:hover {
  transform: scale(1.1);
  transition: all 1s;
}

.socialButton img {
  z-index: 999;
}

.socialButton {
  background: transparent;
  width: auto;
  border-radius: 50px;
}

.socialButton:hover {
  background: #ef3b3c;
  margin-right: 16px;
}

.socialButton span {
  margin-right: 0px;
  display: inline-block;
  position: relative;
  visibility: none;
  color: #f2f2f7;
  left: -40px;
  width: 0;
  opacity: 0;
  text-align: center;
  transition: all 1s;
}

.socialButton:hover span {
  right: 0;
  visibility: visible;
  margin-right: 10px;
  opacity: 1;
  width: 350px;
}

/* .mini-main {
  height: 30px;
  transition-duration: .5s;
}

.mini-main p {
  font-size: 14px;
}


.mini-nav img {
  visibility: hidden;
  width: 0px;
} */ 
