<nav
  class="bg-blue-400 text-white flex flex-row h-48 sticky top-0 justify-between"
  *ngIf="isDesktop"
>
  <div class="bg-green-400 w-6/12 m-4 flex flex-row">
    <p class="bg-blue-200 text-center text-5xl w-4/12 m-4 self-center">
      RU PEP
    </p>
    <div
      class="bg-blue-200 text-center w-8/12 m-4 flex flex-row items-center justify-start"
    >
      <div class="bg-green-200 m-4 w-3/12">1</div>
      <div class="bg-green-200 m-4 w-3/12">2</div>
    </div>
  </div>
  <div class="bg-green-400 w-6/12 m-4 text-center flex flex-row items-end justify-end">
      <button class="mx-4 text-3xl uppercase" [ngxScrollTo]="'about'" [ngxScrollToOffset]="-195">about</button>
      <button class="mx-4 text-3xl uppercase" [ngxScrollTo]="'learn'" [ngxScrollToOffset]="-195">
        learn more
      </button>
      <button class="mx-4 text-3xl uppercase" [ngxScrollTo]="'events'" [ngxScrollToOffset]="-195">
        events
      </button>
  </div>
</nav>

<nav class="bg-blue-400 text-white h-48 sticky top-0" *ngIf="!isDesktop">
  nav mobile
</nav>

<div id='landing' class="h-screen border-red-400 border-4">landing</div>
<div id='about' class="h-screen border-green-400 border-4">about</div>
<div id='learn' class="h-screen border-yellow-400 border-4">learn more</div>
<div id='events' class="h-screen border-purple-400 border-4">events</div>
















































































<!-- <div class="w-screen h-screen overflow-x-hidden">
  <nav
    #periodContainer
    class="flex items-center lg:items-end justify-between flex-wrap pt-6 pr-6 pl-6 pb-3 shadow-xl sticky top-0 bg-white"
  >
    <div class="w-auto flex flex-row">
      <button
        [ngxScrollTo]="'landing'"
        [ngxScrollToOffset]="-150"
        class="logoButton"
      >
        <img id="period-logo" src="../assets/period_logo.png" />
      </button>
    </div>
    <div class="period-icons ml-12 w-auto flex self-center">
      <a
        href="https://www.instagram.com/ruperiod"
        target="_blank"
        class="emailButton flex flex-row justify-center items-center"
        ><img
          class="w-16 h-full mr-6"
          src="../../../assets/instagram_logo.png"
        /><span class="font-bold">https://www.instagram.com/ruperiod</span></a
      >
      <a
        href="mailto:ruperiod@gmail.com"
        class="emailButton flex flex-row justify-center items-center"
        ><img
          class="w-16 h-full mr-6"
          src="../../../assets/email_logo.png"
        /><span class="font-bold">ruperiod@gmail.com</span></a
      >
    </div>

    <div class="block lg:hidden">
      <button
        (click)="toggle()"
        id="show-menu"
        class="flex items-center px-3 py-2 border rounded"
      >
        <fa-icon [icon]="['fas', 'bars']"></fa-icon>
      </button>
    </div>
    <div
      #mainMenu
      id="main-menu"
      class="w-full flex-grow lg:overflow-y-auto lg:flex lg:items-center lg:flex-row lg:justify-end lg:w-auto bg-white main-menu-slider pl-4 pr-4 sticky top-0"
    >
      <div
        class="text-sm flex flex-col items-start lg:flex-row lg:items-center lg:justify-center lg:text-4xl"
      >
        <button
          [ngxScrollTo]="'about'"
          [ngxScrollToOffset]="-150"
          class="mx-4 mt-4 lg:mt-0 font-bold uppercase"
        >
          <p class="">about</p>
        </button>
        <button
          [ngxScrollTo]="'learn'"
          [ngxScrollToOffset]="-150"
          class="mx-4 mt-4 lg:mt-0 font-bold uppercase"
        >
          <p class="">learn more</p>
        </button>
        <button
          [ngxScrollTo]="'events'"
          [ngxScrollToOffset]="-150"
          class="mx-4 mt-4 lg:mt-0 font-bold uppercase"
        >
          <p class="">events</p>
        </button>
        <a
          href="https://www.instagram.com/ruperiod"
          target="_blank"
          class="mx-4 mt-4 lg:mt-0 font-bold uppercase block w-auto lg:hidden"
          >instagram</a
        >
        <a
          href="mailto:ruperiod@gmail.com"
          class="mx-4 mt-4 lg:mt-0 font-bold uppercase block w-auto lg:hidden"
          >ruperiod@gmail.com</a
        >
      </div>
    </div>
  </nav>

  <div id="landing"><app-landing></app-landing></div>
  <div class="period-standard-background-image h-full flex flex-col">
    <div id="about">
      <app-about></app-about>
    </div>
    <div id="learn">
      <app-learn-more></app-learn-more>
    </div>
    <div
      id="events"
      class="h-auto w-full flex flex-col justify-center items-center"
    >
      <div class="w-screen mt-24">
        <p
          class="period-calendar-title text-4xl uppercase font-bold text-center tracking-wider"
        >
          Events
        </p>
      </div>
      <div
        id="calendar-notice"
        class="lg:hidden md:hidden block mt-16 text-center"
      >
        <h1>
          Sorry! <br />Events calendar is only visible in the Desktop version.
        </h1>
        <h2>
          Or you can view the public
          <a
            target="_blank"
            href="https://calendar.google.com/calendar/embed?src=ruperiod%40gmail.com&ctz=America%2FNew_York"
            class="font-bold text-blue-600 hover:underline"
            >Google Calendar</a
          >
        </h2>
      </div>

      <iframe
        class="period-calendar mt-12 mb-24"
        src="https://calendar.google.com/calendar/embed?src=ruperiod%40gmail.com&ctz=America%2FNew_York"
        style="border-width: 0"
        frameborder="0"
        scrolling="no"
      ></iframe>
    </div>
  </div>
</div> -->
