<div
  class="w-screen h-screen 
  flex flex-col items-center justify-start
  overflow-y-scroll"
>
  <div class="w-screen mt-6">
    <p class="text-6xl uppercase font-bold text-center tracking-wider">About</p>
  </div>

  <div class="w-full p-6 flex flex-row justify-around ">
    <div class="w-3/12 flex flex-col">
      <div class="w-10/12 h-56 self-center bg-gray-300"></div>
      <div class="w-full">
        <p class="text-center font-bold text-5xl period-red">
          Title
        </p>
      </div>
      <div class="w-full">
        <p class="text-center text-xl pt-4">
          We are a women’s health organization dedicated to ensuring equity for
          all menstruators on campus and in the community by increasing
          awareness, eliminating stigma, and providing access
        </p>
      </div>
    </div>

    <div class="w-3/12 flex flex-col">
      <div class="w-10/12 h-56 self-center bg-gray-300"></div>
      <div class="w-full">
        <p class="text-center font-bold text-5xl period-red">
          Title
        </p>
      </div>
      <div class="w-full">
        <p class="text-center text-xl pt-4">
          We are a women’s health organization dedicated to ensuring equity for
          all menstruators on campus and in the community by increasing
          awareness, eliminating stigma, and providing access
        </p>
      </div>
    </div>

    <div class="w-3/12 flex flex-col">
      <div class="w-10/12 h-56 self-center bg-gray-300"></div>
      <div class="w-full">
        <p class="text-center font-bold text-5xl period-red">
          Title
        </p>
      </div>
      <div class="w-full">
        <p class="text-center text-xl pt-4">
          We are a women’s health organization dedicated to ensuring equity for
          all menstruators on campus and in the community by increasing
          awareness, eliminating stigma, and providing access
        </p>
      </div>
    </div>
  </div>
</div>
