<div
  class="w-screen h-screen
  flex flex-col items-center justify-start
  overflow-y-scroll"
  id="about"
>
  <div class="w-screen mt-6">
    <p class="text-6xl uppercase font-bold text-center tracking-wider">About</p>
  </div>

  <div class="w-full p-6 flex flex-row justify-around ">
    <app-about-tile-mini
      [className]="'w-3/12'"
      title="Title"
      description="We are a women’s health organization dedicated to ensuring equity for
      all menstruators on campus and in the community by increasing
      awareness, eliminating stigma, and providing access"
    ></app-about-tile-mini>

    <app-about-tile-mini
      [className]="'w-3/12'"
      title="Title"
      description="We are a women’s health organization dedicated to ensuring equity for
      all menstruators on campus and in the community by increasing
      awareness, eliminating stigma, and providing access"
    ></app-about-tile-mini>

    <app-about-tile-mini
      [className]="'w-3/12'"
      title="Title"
      description="We are a women’s health organization dedicated to ensuring equity for
    all menstruators on campus and in the community by increasing
    awareness, eliminating stigma, and providing access"
    ></app-about-tile-mini>
  </div>
</div>
