<div
  class="w-screen h-screen
  flex flex-col items-center justify-start
  overflow-y-scroll"
>
  <div class="w-screen mt-6">
    <p class="text-6xl uppercase font-bold text-center tracking-wider">
      Learn More
    </p>
  </div>

  <div class="w-8/12 p-6 flex flex-row justify-around bg-blue-300">
    <div class="w-5/12 bg-gray-300"></div>
    <div class="w-7/12 pl-10 pr-16 py-4 bg-green-400">
      <p class="text-left period-red font-bold text-5xl">Title</p>
      <p class="text-left text-xl">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolor magna aliquyam erat, sed diam
        voluptua. At vero eos et accusam et justo duo dolores er ea rebum. Stet
        clita kasd gubergren, no sea takimata sanctus est Lorem upsum dolor sit
        amet.
      </p>
    </div>
  </div>

  <div class="w-8/12 p-6 flex flex-row justify-around bg-blue-300">
    <div class="w-7/12 pl-10 pr-16  py-4 bg-green-400">
      <p class="text-left period-red font-bold text-5xl">Title</p>
      <p class="text-left text-xl">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolor magna aliquyam erat, sed diam
        voluptua. At vero eos et accusam et justo duo dolores er ea rebum. Stet
        clita kasd gubergren, no sea takimata sanctus est Lorem upsum dolor sit
        amet.
      </p>
    </div>
    <div class="w-5/12 bg-gray-300"></div>
  </div>

  <div class="w-8/12 p-6 flex flex-row justify-around bg-blue-300">
    <div class="w-5/12 bg-gray-300"></div>
    <div class="w-7/12 pl-10 pr-16  py-4 bg-green-400">
      <p class="text-left period-red font-bold text-5xl">Title</p>
      <p class="text-left text-xl">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolor magna aliquyam erat, sed diam
        voluptua. At vero eos et accusam et justo duo dolores er ea rebum. Stet
        clita kasd gubergren, no sea takimata sanctus est Lorem upsum dolor sit
        amet.
      </p>
    </div>
  </div>

  <div class="w-8/12 my-48 px-12">
    <p class="text-center period-red text-5xl font-bold">Some more facts...</p>
    <ul class="period-learn-more-list list-decimal text-xl italic">
      <li>
        31 states in the United States still charge a sales tax (“pink” tax) on
        feminine hygiene products like pads and tampons.
      </li>

      <li>
        Nadya Okamoto is the founder of PERIOD and author of Period: A Manifesto
        for the Menstrual Movement.
      </li>

      <li>
        2/3rds of low-income women in St. Louis could not afford pads or
        tampons.
      </li>

      <li>
        Period poverty is defined as the lack of access to sanitary products,
        menstrual hygiene education, toilets, hand washing facilities, and, or,
        waste management (global citizen 2019).
      </li>

      <li>
        Poor menstrual hygiene can cause physical health risks and has been
        linked to reproductive and urinary tract infections.
      </li>

      <li>
        The total cost of your period over your lifetime comes to $18,171, which
        include the costs of what is needed to cope with pain and hassle of
        menstruation - like heating pads, acne medication, period products, pain
        relievers, etc.1 (huffpost).
      </li>

      <li>
        Federal prisons now allow free access to menstrual products, state
        prisons do not.
      </li>

      <li>
        The average menstruator uses about 17,000 pads or tampons during their
        entire menstruating lifetime.
      </li>

      <li>
        In India, 70% of all reproductive diseases are caused by poor menstrual
        hygiene.
      </li>

      <li>
        The Ocean Conservancy collected 27,938 used tampons and applicators on
        beaches around the world in a single day in 2015. So don’t flush your
        tampons because they don’t get filtered out!
      </li>

      <li>
        According to a 2017 survey by children’s charity Plan International UK,
        almost half of girls in the UK missed an entire day of school because of
        their period.
      </li>

      <li>
        Lack of access to period products is the number one leading cause of
        absenteeism in the US.
      </li>

      <li>
        Women represent 43% of clinical trial participants globally. There is
        significant underrepresentation of females in research that tries to
        create new therapies and medical procedures.
      </li>

      <li>
        A menstrual cup made of medical grade silicone can last up to 10 years!
      </li>

      <li>
        Over 80% of young people across the globe cannot access the products
        they need on a monthly basis.
      </li>

      <li>
        The average menstrual cycle lasts between 25-36 days and someone else’s
        normal cycle can be different from yours!
      </li>

      <li>
        Menstrual cups can stay in place up to 12 hours. (Does anyone else use
        menstrual cups? What has your experience been like)
      </li>

      <li>
        The average period releases less than a cup of blood. Most lose between
        a few tablespoons and a cup each month.
      </li>

      <li>
        In 2011, Always was the first company to show blood in advertisements
        for sanitary napkins. This broke the “women bleed blue liquid” trend,
        but still only appeared in print.
      </li>

      <li>Women in prison often have to beg guards for menstrual products.</li>

      <li>
        In the United States, the average age for a girl to get her period is
        12. However, this varies from person to person.
      </li>

      <li>
        In one testimony from the border, a girl was detained for ten days
        without being offered a shower and with only one sanitary pad a day.
        (discuss how this makes you feel, reflect).
      </li>

      <li>
        25 million women live below the poverty line, yet menstrual products are
        not offered as part of food stamps.
      </li>

      <li>
        Intense fluctuations in hormones can cause increased vulnerability to
        depression.
      </li>

      <li>
        Reusing products or using tampons and pads for too long—or not using
        them at all—leads to higher rates of infection and other conditions for
        which patients are likely to require medical intervention.
      </li>

      <li>
        The health risks and shame facing menstruating homeless people, who,
        unable to access pads and tampons, often resort to newspapers, socks,
        rags or even bleeding into their clothes.
      </li>

      <li>In 2016 women represented 13% of the local jail population.</li>

      <li>Endometriosis affects 1 in 10 women between the ages of 15-49.</li>

      <li>
        A 2015 Correctional Association of New York report detailed a practice
        at one prison in New York which required menstruating prisoners to show
        their dirty pads as proof they needed extra.
      </li>

      <li>
        The FDA does not require tampon and pad manufacturers to release
        information about the ingredients in their products, which means
        components like non-organic cotton, used in tampons despite high levels
        of pesticide use, is unregulated and unstudied.
      </li>

      <li>
        Prostaglandins are the chemicals that trigger muscle contractions in the
        uterus and cause menstrual pain. More than half of menstruating people
        experience some pain around their period.
      </li>

      <li>
        Many females will develop at least one uterine fibroid during their
        lifetime. These are noncancerous tumors developed between the layers of
        tissue in the uterus.
      </li>

      <li>
        PMS affects as many as 3 in 4 women and includes symptoms such as
        headache, fatigue, bloating, and irritability.
      </li>
      <li>
        In 1920, Dr. Béla Schick coined the phrase “menotoxin” for a theory he
        had that women produce toxins during menstruation. He reached this
        conclusion after a nurse who was menstruating handled a bouquet of
        flowers. Schick observed that those specific flowers wilted sooner than
        flowers the nurse didn’t touch. He decided her period was the cause.
      </li>
      <li>
        By 1974, researchers had identified that menstruation taboos may be
        closely tied to how men participate in procreative activities. In other
        words, the less men are involved with childbirth and childrearing, the
        more distasteful a period is to them.
      </li>
      <li>
        In 2018, the United Nations (UN) reported that the shame, stigma, and
        misinformation that surround periods can lead to serious health and
        human rights concerns. That’s why they declared menstrual hygiene an
        issue that affects public health, gender equality, and human rights.
      </li>
    </ul>
  </div>
</div>
