<div
  class="w-screen h-auto
  flex flex-col items-center justify-start
  overflow-y-scroll"
>
  <div class="w-screen mt-6">
    <p class="text-6xl uppercase font-bold text-center tracking-wider">
      Learn More
    </p>
  </div>

  <div class="w-8/12 p-6 flex flex-row justify-around bg-blue-300">
    <div class="w-5/12 bg-gray-300"></div>
    <div class="w-7/12 pl-10 pr-16 py-4 bg-green-400">
      <p class="text-left period-red font-bold text-5xl">Title</p>
      <p class="text-left text-xl">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolor magna aliquyam erat, sed diam
        voluptua. At vero eos et accusam et justo duo dolores er ea rebum. Stet
        clita kasd gubergren, no sea takimata sanctus est Lorem upsum dolor sit
        amet.
      </p>
    </div>
  </div>

  <div class="w-8/12 p-6 flex flex-row justify-around bg-blue-300">
    <div class="w-7/12 pl-10 pr-16  py-4 bg-green-400">
      <p class="text-left period-red font-bold text-5xl">Title</p>
      <p class="text-left text-xl">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolor magna aliquyam erat, sed diam
        voluptua. At vero eos et accusam et justo duo dolores er ea rebum. Stet
        clita kasd gubergren, no sea takimata sanctus est Lorem upsum dolor sit
        amet.
      </p>
    </div>
    <div class="w-5/12 bg-gray-300"></div>
  </div>

  <div class="w-8/12 p-6 flex flex-row justify-around bg-blue-300">
    <div class="w-5/12 bg-gray-300"></div>
    <div class="w-7/12 pl-10 pr-16  py-4 bg-green-400">
      <p class="text-left period-red font-bold text-5xl">Title</p>
      <p class="text-left text-xl">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolor magna aliquyam erat, sed diam
        voluptua. At vero eos et accusam et justo duo dolores er ea rebum. Stet
        clita kasd gubergren, no sea takimata sanctus est Lorem upsum dolor sit
        amet.
      </p>
    </div>
  </div>
</div>
